<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style(type="text/css").
            *{
                padding:0;
                margin:0;
                box-sizing:border-box;
                font-family: sans-serif;
            }
            .wrapper {
                background: #0182FC;
                height:100vh;
                display:flex; 
                justify-content:center; 
                align-items:center;
            }
            .title {
                color:white;
                font-size:5rem;
            }
            .box {
                display:flex;
                flex-direction:column;
                justify-content:center;
                align-items:center;
            }
            a{
                text-decoration:none;
                color:#fff;
                background:#006CD2;
                font-weight:bold;
                padding:10px;
            }
    body
        div.wrapper
            div.box
                h1.title  TASK SUCCESSFULLY REMOVED
                a(href="/") GO HOME
